/* Global*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --main-color: #da190f;
    --bg: #13131a;
    --bg-card: #0c0c14;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top:9rem;
    scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
    width: 0.8rem;
}

html ::-webkit-scrollbar-track {
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background: #222;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}